{{ partial:components/ui/collapsible class="w-full max-w-sm rounded-md
data-open:bg-muted" }} {{ partial:components/ui/button variant="ghost"
class="w-full" attrs="x-collapsible:trigger" }} Product details
<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="ml-auto transition-transform group-data-panel-open/button:rotate-180"
    aria-hidden="true"
>
    <path d="m6 9 6 6 6-6" />
</svg>
{{ /partial:components/ui/button }} {{ partial:components/ui/collapsible-panel
class="flex flex-col items-start gap-2 p-2.5 pt-0 text-sm" }}
<div>This panel can be expanded or collapsed to reveal additional content.</div>
{{ partial:components/ui/button size="xs" }}Learn More{{
/partial:components/ui/button }} {{ /partial:components/ui/collapsible-panel }}
{{ /partial:components/ui/collapsible }}
